<a href="https://twitter.com/share" class="twitter-share-button" data-via="" data-count="none" data-url="http://www.remixofthecentury.com/<%= year %>/<%= rank %>" data-text="No. <%= rank %> on Billboard <%= year %>: <%= title %> by <%= artist %>" data-hashtags="">Tweet</a>
<!--a href="" class="facebook">Facebook</a-->